<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <body class="{{ page.class }} {{ page.skin }}">

      {% include header.html %}

      <div class="main">
        {{ content }}
      </div>

    {% include footer.html %}

    <!-- build:js(app) /js/scripts.js -->
    <script src="/_bower_components/jquery/jquery.min.js"></script>
    <script src="/js/pjax-fork.js"></script>
    <script src="/_bower_components/nprogress/nprogress.js"></script>
    <script src="/_bower_components/fitvids/jquery.fitvids.js"></script>
    <!-- <script src="/_bower_components/konami-code-event/src/konami-code.min.js"></script> -->
    <script src="/js/main.js"></script>
    <!-- endbuild -->
    </body>
</html>
