<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <body class="{{ page.class }} {{ page.skin }}">

      {% include header.html %}

      <div class="main" role="main">
        {{ content }}
      </div>

        {% include footer.html %}

        {% include scripts.html %}

        {% include googleanalytics.html %}

        <script>
          WebFontConfig = {
            typekit: { id: 'hcr1thw' }
          };

          (function() {
            var wf = document.createElement('script');
            wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
                      '://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
          })();
        </script>

    </body>
</html>
