---
layout: default
class: blog-post
skin: peaceful
---

<div class="content post-content">
  <h2 class="post-title">{{ page.title }}</h2>
  <small class="meta">{{ page.date | date_to_string }}</small>

  <div class="post">
  {{ content }}
  </div>

  <!-- <section class="share-this">
    <h4>Share this!</h4>
    <ul class="social-button-list">
      <li class="twitter-button">
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ post.url }}" data-via="_agtlucas" data-lang="en">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </li>
      <li class="google-plus-button">
        <div class="g-plusone" data-size="medium"></div>
        <script type="text/javascript">
          (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/platform.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
          })();
        </script>
      </li>
    </ul>
  </section> -->

  <section class="prev-next-posts">
    <ul>
      {% if page.next.url %}
      <li class="next-post"><a href="{{ page.next.url }}" data-pjax=".main"><h4>Next Post</h4><span>{{ page.next.title }}</span></a></li>
      {% endif %}
      {% if page.previous.url %}
      <li class="prev-post"><a href="{{ page.previous.url }}" data-pjax=".main"><h4>Previous Post</h4><span>{{ page.previous.title }}</span></a></li>
      {% endif %}
    </ul>
  </section>
</div>