---
layout: default
class: blog-post
skin: peaceful
---

<article class="content post-content" role="article">
  <h2 class="post-title">{{ page.title }}</h2>
  <small class="meta">{{ page.date | date_to_string }}</small>

  <div class="post">
  {{ content }}
  </div>

  <section class="prev-next-posts">
    <ul>
      {% if page.next.url %}
      <li class="next-post"><a href="{{ page.next.url }}" class="pn-link" data-pjax=".main"><h4>Next Post</h4><span>{{ page.next.title }}</span></a></li>
      {% endif %}
      {% if page.previous.url %}
      <li class="prev-post"><a href="{{ page.previous.url }}" class="pn-link" data-pjax=".main"><h4>Previous Post</h4><span>{{ page.previous.title }}</span></a></li>
      {% endif %}
    </ul>
  </section>

  <section class="comments">
    <div class="comments-content">
      {% include disqus.html %}
    </div>
  </section>
</article>