html,
body {
  height: 100%;
  width: 100%;
}
html {
  font-family: Consolas, monospace;
  font-weight: 300;
  background-color: #1E1E1E;
  color: #f3f3f3;
}
.home {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.loading {
  height: 80px;
  width: 320px;
  margin: auto;
}
.loading-title {
  position: relative;
  float: left;
  text-align: center;
  span {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    background-color: #1E1E1E;
    border-left: .1em solid #f3f3f3;

    -webkit-animation: typing 5s steps(13, end),
                       blink-caret 1s step-end infinite;

    -moz-animation: typing 5s steps(13, end),
                       blink-caret 1s step-end infinite;
  }
}
footer {
  position: absolute;
  right: 0;
  bottom: 20%;
  left: 0;
  height: 90px;
  padding: 10px;
}
.social-links {
  position: relative;
  list-style: none;
  text-align: center;
  font-size: 4em;
  li {
    display: inline;
    margin-top: 20px;
    a {
      color: #f3f3f3;
      text-decoration: none;
    }
  }
}