<header class="main-header" role="banner">

  <div class="wrap-content">
    <h1 class="logo">
      <a href="{{ site.url }}" data-pjax=".main-content">Lucas</a>
    </h1>

    <nav class="main-menu cf" role="navigation">
      <ul class="main-menu-links">
        <li><a href="http://linkedin.com/in/agtlucas" target="_blank" class="icon-linkedin-rect"></a></li>
        <li><a href="http://github.com/agtlucas" target="_blank" class="icon-github-circled"></a></li>
        <li><a href="http://twitter.com/_agtlucas" target="_blank" class="icon-twitter"></a></li>
      </ul>
    </nav>
  </div>

</header><!-- end header -->