<head>
  {% if page.title != 'Sorry' %}
  <!--[if lt IE 10]><meta http-equiv="refresh" content="0; url=/sorry/"><![endif]-->
  {% endif %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title }} - Lucas</title>
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="{{ page.description }}">

  <!-- Prefetch DNS -->
  <link rel="dns-prefetch" href="//fonts.googleapis.com">
  <link rel="dns-prefetch" href="//platform.twitter.com">
  <link rel="dns-prefetch" href="//p.twitter.com">
  <link rel="dns-prefetch" href="//cdn.api.twitter.com">
  <link rel="dns-prefetch" href="//www.google-analytics.com">
  <link rel="dns-prefetch" href="//themes.googleusercontent.com">
  <link rel="dns-prefetch" href="//a.disquscdn.com">

  <script type="text/javascript">
    WebFontConfig = {
      google: { families: [ 'Open+Sans:400,700,300:latin' ] }
    };
    (function() {
      var wf = document.createElement('script');
      wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
        '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
  </script>
  <!-- build:css({app,.tmp}) /css/main.css -->
  <!-- Custom CSS -->
  <link rel="stylesheet" href="/css/style.css">
  <!-- endbuild -->

  <link rel="canonical" href="http://agtlucas.com{{ page.url | canonical }}">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@_agtlucas">
  <meta name="twitter:creator" content="@_agtlucas">
  <meta property="og:url" content="http://agtlucas.com{{ page.url }}">
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:description" content="{{ page.description }}" />
  <link rel="shortcut icon" href="/img/favicon.ico">
  <link rel="author" href="https://plus.google.com/+LucasChurchill">

</head>
