<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title }} - Lucas</title>
  <meta name="viewport" content="width=device-width">

  <!-- Prefecth DNS -->
  <link rel="dns-prefetch" href="//fonts.googleapis.com">
  <link rel="dns-prefetch" href="//platform.twitter.com">
  <link rel="dns-prefetch" href="//p.twitter.com">
  <link rel="dns-prefetch" href="//cdn.api.twitter.com">
  <link rel="dns-prefetch" href="//www.google-analytics.com">
  <link rel="dns-prefetch" href="//themes.googleusercontent.com">

  <!-- build:css({app,.tmp}) /css/main.css -->
  <!-- Syntax highlighting CSS -->
  <!-- Custom CSS -->
  <link rel="stylesheet" href="/css/style.css">
  <!-- endbuild -->

  <!-- Typekit -->
  <script src="//use.typekit.net/hcr1thw.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
</head>