@media all and (min-width : em(240)) and (max-width : em(480)) {
  .logo {
    text-align: center;
    top: 0;
    a {
      &:hover {
        border: 0;
      }
    }
  }
  .main-menu {
    float: none;
    text-align: center;
  }
  .main-menu-links {
    padding: 0;
    bottom: 0;
    li {
      margin: 0 10px;
      a {
        &:hover {
          border: 0;
        }
      }
    }
  }
}

@media all and (min-width : em(240)) and (max-width : em(960)) {
  .wrap-content {
    padding: 0 em(15);
  }
}

@media all and
(min-width : em(1281)) {
  .wrap-content {
    width: 70em;
  }
}