body {
  background: #f3f3f3;
  font-family: "proxima-nova", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.home {

}

.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}