// Variables
$black: #000000;
$white: #FFFFFF;
$ablack: #202020;
$aablack: #1d1f21;
$awhite: #f3f3f3;
$agrey: #999999;
$bluegrey: #2A303B;
$ablue: #08c;
$grey: #555555;
$font-size: 16;

// Susy
$total-columns  : 12;             // a 12-column grid
$column-width   : 4em;            // each column is 4em wide
$gutter-width   : 1em;            // 1em gutters between columns
$grid-padding   : $gutter-width;  // grid-padding equal to gutters

@function rem($pixels, $context: $font-size) {
   @return#{$pixels/$context}rem;
}

@function em($pixels, $context: $font-size) {
   @return#{$pixels/$context}em;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing:
  border-box;
  box-sizing: border-box;
}

body {
  font-family: "proxima-nova", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  font-size: rem(16);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

header,
footer {
  clear: both;
}

.main-footer {
  position: fixed;
  padding: 5px;
  bottom: 0;
  width: 100%;
  color: $agrey;
  small {
    text-align: center;
    display: block;
  }
}

img {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
}

a {
  color: $ablue;
  text-decoration: none;
  @include transition(all 0.3s ease-in-out);
}

blockquote {
  padding-left: 1.25em;
  margin: 1.875em 0;
  border-left: 5px solid $ablue;
  font-size: 20px;
  font-size: rem(20);
  text-align: left;
}

.dark {
  background: $aablack;
  color: $awhite;
  a {
    &:hover {
      color: $awhite;
    }
  }
  blockquote {
    color: $agrey;
  }
  .post-title-link {
    color: $agrey;
    &:hover {
      color: $awhite;
    }
  }
  .main-footer {
    background: rgba(29,31,33,0.9);
  }
  .posts {
    li {
      border-bottom: 1px solid $black;
    }
  }
  .share-this {
    border-top: 1px solid $black;
  }
  .light-switch {
    background: $awhite;
  }
}

.peaceful {
  background: $white;
  color: $ablack;
  a {
    &:hover {
      color: $ablack;
    }
  }
  blockquote {
    color: $grey;
  }
  .post-title-link {
    color: $ablack;
    &:hover {
      color: $ablue;
    }
  }
  .main-footer {
    background: rgba(255,255,255,0.9);
  }
  .light-switch {
    background: $black;
  }
}

.active {
  font-weight: bold;
}