// Variables
$black: #303030;
$awhite: #f3f3f3;
$agrey: #999999;

.home {
  font-family: "proxima-nova", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.dark {
  background: $black;
  color: $awhite;
  a {
      color: $agrey;
      text-decoration: none;
      text-transform: uppercase;
      &:hover {
        color: $awhite;
        @include transition(all 0.3s ease-in-out);
      }
    }
}

.peaceful {
  background: $awhite;
  color: $black;
  a {
      color: $agrey;
      text-decoration: none;
      text-transform: uppercase;
      &:hover {
        color: $black;
        @include transition(all 0.3s ease-in-out);
      }
    }
}

.home-header {
  width: 100%;
  nav {
    text-align: center;
  }
}

.home-header-links {
  padding: 0;
  list-style: none;
  li {
    display: inline-block;
    margin: 10px 25px;
    font-size: 14px;
  }
}

.hello {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}