.main-header {
  width: 100%;
  nav {
    text-align: center;
  }
}

.header-links {
  padding: 0;
  list-style: none;
  li {
    display: inline-block;
    margin: 0 15px;
    font-size: 14px;
    font-size: rem(14);
    a {
      text-transform: uppercase;
      color: $agrey;
    }
  }
}

.hello {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main {
  @include container;
  margin: auto;
  padding-bottom: 120px;
  @media all and (max-width: 80em) {
    width: 42.5em;
    max-width: 100%;
  }
}

.content {
  margin-top: 50px;
  font-size: 20px;
  font-size: rem(20);
  h1 {
    text-align: center;
  }
}

.logo {
  font-size: 18px;
  font-size: rem(18);
}

.posts {
  padding: 0;
  list-style: none;
  li {
    margin-bottom: 10px;
    border-bottom: 1px solid $awhite;
  }
  span {
    float: right;
    font-size: 15px;
    font-size: rem(15);
    margin-top: 10px;
  }
}

.post-title-link {
  font-size: rem(22);
  @media all and (max-width: 33.4375em) {
    padding-right: 20px;
  }
}

.share-this {
  margin-top: 50px;
  padding-top: 10px;
  border-top: 1px solid $awhite;
  h4 {
    margin: 0;
  }
}

.social-button-list {
  list-style: none;
  padding: 0;
  margin-top: 0;
  li {
    display: inline-block;
  }
}

.prev-next-posts {
  margin-top: 40px;
  width: 100%;
  border-top: 1px solid $awhite;
  ul {
    list-style: none;
    padding: 0;
    font-size: 0;
    li {
      padding: 20px;
      display: inline-block;
      width: 324px;
      max-width: 100%;
      font-size: 20px;
      vertical-align: top;
    }
    li:nth-child(odd) {
      padding-left: 0;
    }
    li:nth-child(even) {
      padding-right: 0;
      @media all and (max-width: 43.375em) {
        padding-left: 0;
      }
    }
  }
  h4 {
    color: $agrey;
    margin: 0;
  }
}

.main-about-content {
  text-align: justify;
}

.highlight {
  background: $awhite;
  padding: 20px;
}