.main-header {
  width: 100%;
  nav {
    text-align: center;
  }
}

.header-links {
  padding: 0;
  list-style: none;
  li {
    display: inline-block;
    margin: 0 15px;
    font-size: 14px;
    font-size: rem(14);
    a {
      text-transform: uppercase;
      color: $agrey;
      &:hover {
        color: $ablue;
      }
    }
  }
}

.hello {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @media all and (max-width: 43.75em) {
    font-size: 18px;
  }
  @media all and (max-width: 101.875em) {
    font-size: 30px;
  }
}

.main {
  @include container;
  margin: auto;
  padding-bottom: 120px;
  @media all and (max-width: 80em) {
    width: 42.5em;
    max-width: 100%;
  }
}

.content {
  margin-top: 50px;
  font-size: 20px;
  font-size: rem(20);
  h1 {
    text-align: center;
  }
}

.logo {
  font-size: 18px;
  font-size: rem(18);
}

.posts {
  padding: 0;
  list-style: none;
  li {
    margin-bottom: 10px;
    border-bottom: 1px solid $awhite;
  }
  span {
    float: right;
    font-size: 15px;
    font-size: rem(15);
    margin-top: 10px;
  }
}

.post-title-link {
  font-size: rem(16);
  color: $aablack;
  &:hover {
    color: $ablue;
  }
  @media all and (max-width: 33.4375em) {
    padding-right: 20px;
  }
}

.share-this {
  margin-top: 50px;
  padding-top: 10px;
  border-top: 1px solid $awhite;
  h4 {
    margin: 0;
  }
}

.social-button-list {
  list-style: none;
  padding: 0;
  margin-top: 0;
  li {
    display: inline-block;
  }
}

.prev-next-posts {
  margin-top: 40px;
  width: 100%;
  background: $aablack;
  ul {
    list-style: none;
    padding: 0;
    font-size: 0;
    li {
      display: inline-block;
      @media all and (max-width: 80em) and (min-width: 43.4375em) {
        width: 324px;
      }
      @media all and (max-width: 50em) {
        width: 100%;
      }
      width: 456px;
      max-width: 100%;
      font-size: 20px;
      vertical-align: top;
      &:hover {
        background: $bluegrey;
      }
    }
  }
  h4 {
    color: $agrey;
    margin: 0;
  }
}

.pn-link {
  padding: 20px;
  color: $awhite;
  width: 100%;
  height: 100%;
  display: block;
  &:hover {
    color: $awhite;
  }
}

.main-about-content {
  text-align: justify;
}

.highlight {
  background: $awhite;
  padding: 10px 20px;
  overflow-x: scroll;
}

.meta {
  background: $aablack;
  color: $awhite;
  padding: 4px;
}

.comments {
  margin-top: 60px;
}

.active {
  color: $black !important;
}

.show-comments {
  cursor: pointer;
  text-align: center;
}